ul{
  list-style: none;
}
pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
ul, ol {
  padding-left: 4%;
}
.dataTables_scrollBody {
  max-height: inherit !important;
  height: calc(100vh - 300px);
}
.dataTables_scrollHeadInner,
.tabla_tickets {
  width: 100% !important;
}

#sin-entradas{
  width: 100%;
  background-color: lightgray;
  position: relative;
  height: 80vh;
  border-style: dotted;
  border-width: 3px;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;

}
#sin-entradas-movil{
  width: 100%;
  background-color: lightgray;
  position: relative;
  height: 20vh;
  border-style: dotted;
  border-width: 3px;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

#sin-entradas p{
  font-size: 20px;
}

.card-movil{
  display: none;  
}

.tickets {
  width: 100%;
}

.info-usuario{
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.info-usuario ul{
  list-style: none;
}

.columna-derecha{
  width: 50%;
}
.columna-izq{
  width: 50%;
}

.fecha-bg{
  margin-left: 4%;
}

.centrar-tablas{
  text-align: center;
}

.tickets .dataTables_scrollBody {
  max-height: inherit !important;
  height: calc(100vh - 550px);
}
.tickets .dataTables_empty {
  height: calc(100vh - 575px);
}
.tickets .fila_7 a {
  font-size: 35px;
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
  color: #4d4d4d;
}
.tabla_estadistica {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}
.columna_est {
  display: block;
  width: 40%;
}

.fila_flex{
    position: relative;
    display: flex;
    align-items: center;
}

.titulo_tabla {
  font-family: roboto-bold;
  font-size: 20px;
  color: #273066;
}
.divisor_container_tabla {
  height: 0;
  margin: 6px 0;
  border-top: 2px solid #b0b0b0;
}
.row_sup {
  display: flex;
  justify-content: space-between;
  color: #4d4d4d;
  font-size: 15px;
  padding: 5px 0;
}
.col_1 {
  width: calc(100% - 110px);
  font-family: var(--font-family-sans-serif);
  padding-left: 30px;
}

.titulo_ticket{
  word-break: break-all;
}

.motivo_ticket{
  word-break: break-all;
}

.c_cuadro {
  position: relative;
}
.c_cuadro::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #000;
  margin: auto;
  left: -30px;
  top: 0;
  bottom: 0;
}
.c_positivos::after {
  background-color: #109618;
}
.c_negativo::after {
  background-color: #ff5733;
}
.c_abiertos::after {
  background-color: #ff9900;
}
.c_cerrados::after {
  background-color: #3366cc;
}
.col_2 {
  width: 100px;
  text-align: center;
}
.eta_contenido_detalles {
  width: 100%;
  padding-bottom: 15px;
}
.eta_contenido_detalles .body_caso {
  height: auto;
  min-height: calc(100vh - 200px);
}

.eta_contenido_titulo .titulo_2 {
  width: 100%;
}
.eta_contenido_titulo .titulo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--font-family-sans-serif);
  color: #273066;
}
.eta_titulo_inf {
  font-size: 1.8rem;
}
.eta_contenido_titulo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.cont_ticked .tabla_ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cont_ticked .eta_contenido_detalles .eta_tabla_head {
  padding-right: 0;
}
.cont_ticked .eta_tabla_head {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: var(--font-family-sans-serif);
  color: #4d4d4d;
  border-bottom: 2px solid #c9c9c9;
  font-size: 17px;
  justify-content: space-evenly;
  font-weight: bold;
}
.cont_ticked .body_caso {
  flex-direction: column;
}
.cont_ticked .tabla_ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eta_tabla_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: roboto-regular;
  color: #4d4d4d;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  /* max-height: calc(100vh - 200px); */
  /* height: calc(100vh - 200px); */
  position: relative;
}
.cont_ticked .eta_contenido_detalles .eta_tabla_head {
  padding-right: 0;
}
/* .cont_ticked .eta_tabla_head span {
    font-family: var(--font-family-sans-serif);
} */
.cont_ticked .body_caso {
  align-items: flex-start;
}
.cont_ticked .tabla_ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tipo_nuevo {
  color: #dc2229;
}
.tipo_respuesta {
  color: #f7931e;
}
.tipo_cerrado {
  color: #00b140;
}

.eta_fila_1,
.eta_fila_5,
.eta_fila_6,
.eta_fila_7,
.eta_fila_8,
.eta_fila_11,
.eta_fila_12,
.eta_fila_13,
.eta_fila_14,
.eta_fila_15,
.eta_fila_16,
.eta_fila_17,
.eta_fila_21,
.eta_fila_31,
.eta_fila_32,
.eta_fila_33 {
  text-align: center;
}
.eta_fila_1,
.eta_fila_2,
.eta_fila_3,
.eta_fila_4,
.eta_fila_5,
.eta_fila_6,
.eta_fila_7,
.eta_fila_8,
.eta_fila_11,
.eta_fila_12,
.eta_fila_13,
.eta_fila_14,
.eta_fila_15,
.eta_fila_16,
.eta_fila_17,
.eta_fila_21,
.eta_fila_22,
.eta_fila_31,
.eta_fila_32,
.eta_fila_33 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 50px;
}
.eta_fila_1 {
  width: 40px;
}
.eta_fila_2 {
  width: 10%;
}
.eta_fila_3 {
  width: 20%;
}
.eta_fila_4 {
  width: 13%;
}
.eta_fila_5 {
  width: 160px;
}
.eta_fila_6 {
  width: 11%;
}
.eta_fila_11 {
  width: 30%;
}
.eta_fila_12 {
  width: 10%;
}
.eta_fila_13 {
  width: 25%;
}
.eta_fila_14 {
  width: 15%;
}
.eta_fila_15 {
  width: 10%;
}
.eta_fila_16 {
  width: 15%;
}
.eta_fila_17 {
  width: 10%;
}
.eta_fila_21 {
  width: 100px;
}
.eta_fila_22 {
  /*width: calc(100% - 165px);*/
  justify-content: flex-start;
}
.eta_fila_31 {
  width: 20%;
}
.eta_fila_32 {
  width: 160px;
}
.eta_fila_33 {
  width: calc(80% - 180px);
  justify-content: flex-start;
}

.eta_tabla_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  justify-content: space-evenly;
  min-height: 63px;
}
.eta_tabla_row span {
  font-family: var(--font-family-sans-serif);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
/* eta_ */
.eta_entradas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.eta_caso_detalles {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.eta_contenido_detalles .eta_tabla_head {
  padding-right: 0;
}
.eta_tabla_head {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: arial;
  color: #4d4d4d;
  border-bottom: 2px solid #c9c9c9;
  font-size: 14px;
  justify-content: space-evenly;
  font-weight: bold;
}
.head_detalles_ticket{
  background-color: rgba(0,0,0,.1);
}
.eta_tabla_head .eta_fila_33 {
  padding-left: 15px;
}
.eta_menos_h {
  min-height: inherit;
  height: 50px;
  padding-top: 10px;
}
.width_100 {
  width: 100%;
}
.eta_tabla_row {
  background-color: #f2f2f2;
}
.eta_archivos_contenedor {
  height: auto;
  text-align: left;
  width: 100%;
  display: inline-block;
  padding: 7px;
}
.eta_archivos_contenedor span {
  margin: 5px;
  background-color: #9b9b9b;
  color: #fff;
  width: auto;
  height: auto;
  font-size: 15px;
  line-height: 15px;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}
.eta_archivos_contenedor span:hover {
  background-color: #2e418e;
}
.sin_borde {
  border-bottom: 0;
}
.eta_caja_texto_entrada {
  padding: 4%;
  border: 2px solid #c9c9c9;
  margin: 0.5% 0;
  width: 100%;
  word-break: break-word;
  font-family: var(--font-family-sans-serif);
  color: #4d4d4d;
  font-size: 15px;
}
.eta_margen_sup {
  margin-top: 20px;
}
.eta_margen_der {
  margin-right: 10px;
}
.eta_fila_21 span {
  /* overflow: auto; */
  padding: 5px;
}
.eta_conten_height {
  overflow: hidden auto;
  height: calc(100vh - 100px);
}
.eta_boton_calif {
  display: flex;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  background-color: #00c853;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}
.eta_btnNuevoTicket {
  border: 1px solid #000;
  padding: 0px 20px;
  height: 37px;
  display: flex;
  font-family: arial;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  width: 190px;
}
.eta_btnNuevoTicket:hover {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.eta_btnCerrarCaso {
  border: 1px solid #28a745;
  padding: 0px 20px;
  height: 37px;
  display: flex;
  font-family: arial;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  width: 190px;
}
.eta_btnCerrarCaso:hover {
  border: 1px solid black;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.eta_cont_loader_ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2.5%;
}

.eta_p_no_res {
  font-family: var(--font-family-sans-serif);
  max-width: 100%;
  overflow: hidden;  
  white-space: nowrap;
  text-align: left;
  font-size: 15px;
}

@media only screen and (max-width: 850px) {
  .card-movil{
    display: block;
  }
  .escritorio{
    display: none;
  }
  :root {
    --ancho_menu: 200px;
  }
  .margen_inf_movil {
    margin-bottom: 10px; 
  }
  .eta_tabla_body,
  .cont_ticked .eta_tabla_head,
  .eta_tabla_row {
    border-bottom: 0;
  }
  .cont_ticked .tabla_ticket {
    flex-direction: row;
  }
  .cont_ticked .eta_tabla_head {
    flex-direction: column;
    width: var(--ancho_menu);
  }
  .eta_tabla_body,
  .eta_caja_texto_entrada {
    /*width: calc(100% - var(--ancho_menu));*/
  }
  .eta_tabla_row {
    flex-direction: column;
    /* min-height: inherit; */
  }
  /*.eta_minimo {
    min-height: 350px;
  }*/
  .eta_fila_movil {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    font-size: 15px;
    padding: 5px;
    height: auto;
    min-height: 50px;
  }
  .eta_tabla_row span {
    text-overflow: inherit;
    white-space: inherit;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* text-align: left; */
  }
  .eta_btnNuevoTicket,
  .eta_btnNuevoTicket,
  .eta_btnCerrarCaso {
    font-size: 14px;
    line-height: 16px;
  }
  .width_movil_100 {
    width: 100%;
  }
  .cont_ticked .eta_tabla_head {
    justify-content: flex-start;
  }
  .eta_tabla_head .eta_fila_33 {
    padding-left: 5px;
  }
  .tickets .dataTables_scrollBody {
    max-height: inherit !important;
    height: auto;
    overflow: hidden !important;
  }
  .tickets {
    padding-bottom: 20px;
  }
  .tickets .dataTables_paginate {
    border-top: 1px solid #000;
  }
  .tabla_estadistica {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .columna_est {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .card-movil{
    display: block;
  }
  .escritorio{
    display: none;
  }
  :root {
    --ancho_menu: 125px;
  }
  ul, ol {
    padding-left: 8%;
  }
}
