.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 2px);
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: gray;
    color: white;
}
.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
    border: 1px solid #aaa;
}
.tabla_row:nth-child(2n), .tabla_2 .tabla_row {
    background-color: #f4f6f9;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid transparent;
    border-bottom: 2px solid #C9C9C9;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid transparent;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
    padding: 4px;
}
.dataTables_length label select {
    width: 70px !important;
    display: inline;
}
.dataTables_scrollBody {
    max-height: inherit !important;
    height: calc(100vh - 300px);
}
.enc_btnNuevoTicket{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 170px;

}
.enc_btnNuevoTicket:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}
.enc_icon-mas{
    margin-right: 7%;
}

.enc_btnRegresar{
    border: 1px solid black;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: black;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;

}
.enc_btnRegresar:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}

.btnEnviar {
    border: 1px solid #A9A9A9;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #A9A9A9;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
}

.btnEnviar:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}

.enc_btnGuardar {
    border:  1px solid #12a13d;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #12a13d;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
}
.enc_btnGuardar:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}


.btn_nuevo {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 20px; */
}



table.dataTable tbody tr {
    height: 60px;
}
.dataTables_scrollHeadInner, .tabla_casos {
    width: 100% !important;
}
.dataTables_empty {
    height: calc(100vh - 330px);
}
.tabla_head, .dataTables_length label, table.dataTable {
    color: #4D4D4D;
}
.body_caso {
    border-top: 2px solid #C9C9C9;
    border-bottom: 2px solid #C9C9C9;
    height: calc(100vh - 200px);
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.parte_caso {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4D4D4D;
    overflow-x: hidden;
    overflow-y: auto;
}
.borde_derecho {
    border-right: 2px solid #C9C9C9;
}
.borde_derecho img {
    max-width: 50%;
    max-height: 100%;
    /*box-shadow: 0 0px 20px rgba(0,0,0,.19),0 2px 6px rgba(0,0,0,.23) !important;*/
}
.cont_btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.datos_caso {
    min-height: 100%;
    width: 100%;
    padding: 5%;
}
.cont_btn_center {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.contenido_inputs_files, .contenedor_archivos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#cargar_archivos {
    width: 160px;
    margin: 10px;
    font-size: .8rem;
}
.msg_archivos {
    text-align: left !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #808080;
    display: block !important;
    width: 100% !important;
    padding: 10px 0 !important;
    line-height: 15px !important;
}
.contenedor_archivos {
    display: block;
    text-align: left;
    flex-direction: column;
    align-items: center;
}
.contenido_inputs_files, .contenedor_archivos {
    width: 100%;
}
.archivo_subir {
    width: auto;
    max-width: 250px;
    height: 40px;
    background: #eaeaea;
    border-radius: 20px;
    position: relative;
    margin: 8px;
    padding: 0 25px 0 10px;
    display: inline-flex;
    align-items: center;
    /* display: none; */
}
.archivo_subir span {
    display: inline-block;
    width: auto;
    /* max-width: calc(100% - 25px); */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 8px;
    font-size: 14px;
    color: #9e9e9e;
    font-weight: bold;
}
.cancel_archivo {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    right: 8px;
    bottom: 0;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
    line-height: 13px;
}
.cancel_archivo::before {
    transform: rotate(45deg);
}
.cancel_archivo::after {
    transform: rotate(-45deg);
}
.cancel_archivo::before, .cancel_archivo::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #9e9e9e;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.enc_txt_descripcion{
    resize: none;
}

button:focus {
    outline: unset;
}

@media only screen and (max-width: 850px) {
    .borde_derecho{
        display: none;
    }
    .parte_caso{
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    .btn_nuevo {
        justify-content: center;
        margin-top: 20px;
    }
    .borde_derecho{
        display: none;
    }
    .parte_caso{
        width: 100%;
    }
}
