body {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 0vh!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  border: 2px solid #FFF;
}

p {
  margin-top: inherit;
  margin-bottom: 0;
  font-family: label;
  font-size: 18px;
  line-height: 140%;
}

.login-box, .register-box {
  width: 575px;
}
.tarjeta {
  padding: 40px 60px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.tarjeta-body{
  background-color: #f2f2f2;
}

/*LOGIN*/

.mostrar-pass {
  position: absolute;
  right: 20px;
  top: 60%;
  margin: auto;
  width: 25px;
  cursor: pointer;
  z-index: 99;
}

.contenedor-login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/fondo_login.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.login-logo{
  width: 25%;
  margin-bottom: 30px;
  margin: auto;
}

.button-inicio{
  border: 1px solid black;
  padding: 0px 20px;
  height: 37px;
  display: flex;
  font-family: arial;
  background-color: black;
  color: white;
  text-decoration: none;
  transition: all .3s;
  justify-content: center;
  align-items: center;
}

.button-inicio:hover {
  background-color:transparent;
  color: black;
  cursor: pointer;
}

#cont_botones_inicio{
  display: flex;
  justify-content: center;

}

.campoTexto{
  background-color: white;
  width: 96%;
  padding: 0 2%;
  height: 36px;
  border: none;
  font-family: arial;
  color: black;
  font-size: 18px;
  margin-top: 5px;
}

.respuesta_clave{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2%;
}

.mensaje_error{
  color: red;
  font-weight: bold;
}

/*FIN LOGIN*/

@media only screen and (max-width: 850px) and (min-width: 0px) {
  .login-box{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    margin-top: 0!important;
  }
  .tarjeta{
    width: 100%;
    height: 100vh;
    border-radius: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    min-height: 450px;
  }
  .tarjeta-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    position: absolute;
    min-height: 450px;
  }
  .login-logo {
    width: 30%;
    margin-bottom: 30px;
    margin: auto;
  }
}
