.imagen_logo{
	position: relative;
	width: 90%;
	left: 5%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;

}
.aside_seleccionado{
	background-color: rgba(255,255,255,.1) !important;
    color: #343a40 !important;
}
.ea_titulo_aside{
	color: #c2c7d0 !important;
}
.ea_titulo_aside:hover{
	background-color: rgba(255,255,255,.1);
    color: #fff;
}

.version{
	position: absolute;
    bottom: 2%;
	color: #c2c7d0;
	left: 5%;
	white-space: nowrap;
	
}

.version p{
	font-size: 9px !important; 
}

.brand-link{
	position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pace .pace-progress {
	 background: black; /*color barra progreso*/
	 position: fixed;
	 z-index: 2000;
	 top: 0;
	 right: 100%;
	 width: 100%;
	 height: 6px;
}

/*.pace-running > *:not(.pace) {
  opacity:0;
}*/