*:focus {
  outline: none;
}

* {
    scrollbar-color: #343a40 transparent;
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 40px;
}

@font-face {
  src: url(../fonts/gothambook.ttf);
  font-family: texto;
}

@font-face {
  src: url(../fonts/Gotham-Ultra.ttf);
  font-family: textobold;
}

@font-face {
  src: url(../fonts/gothamlight.ttf);
  font-family: label;
}

.deshabilitado{
  opacity: 0.5;
  pointer-events: none;
}

.cont_centrado{
  display: flex;
  align-content: center;
  justify-content: center;
}

.sp_char_count{
  position: relative;
  float: right;
  font-size: 11px;  
}

.tamano_iconos{
  font-size: 26px;
}

.oculto{
  display: none !important;
}

.c_pointer{
  cursor: pointer;
}

.circulo-rojo{
  color: #dc3545;
  font-size: 10px;
  margin-right: 10px;
}

.time{
  color: #999; 
  font-size: 12px; 
  padding: 10px;
}

@media only screen and (max-width: 1400px) {
  .dataTables_length{
    display: none;
  } 
  .dataTables_filter{
    display: none;
  }
}

@media only screen and (max-width: 850px) and (min-width: 0px) {
  .dataTables_length{
    display: none;
  } 
  .dataTables_filter{
    display: none;
  }
}