.contenido404 {
  width: 80%;
  padding: 0% 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 35%;
  right: 0;
}

.titulo404 {
  font-family: label;
  font-size: 350px;
  line-height: 0.5;
  color: black;
}

.texto404 {
  font-family: label;
  font-size: 32px;
  color: black;
}

.arr_404 {
  width: 30px;
}

.button404 {
  border: 1px solid #000;
  padding: 0px 20px;
  height: 40px;
  display: flex;
  font-family: arial;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  width: 200px;
  float: right;
}

.button404:hover {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.mr_10_404{
  margin-right: 10px;
}
@media only screen and (max-width: 850px) {
  .titulo404{
    font-size: 100px;
  }
  .contenido404{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px){
  .titulo404{
    font-size: 100px;
  }
  .contenido404{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}