.ep_btnNuevoProyecto{
    border: 1px solid #000;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.ep_txt_descripcion{
    resize: none;
}

.ep_btnCancelar{
    border: 1px solid #A9A9A9;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #A9A9A9;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;

}

.ep_btnCancelar:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}
.modal_proyecto{
    width: 1200px !important;
    max-width: 2000px !important;
}
.ep_btnAgregarProyecto{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 200px;

}
.ep_btnAgregarProyecto:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}

#vm_descripcion{
    word-break: break-all;
}

@media only screen and (max-width: 850px) {
    .modal_proyecto{
        width: auto !important;
       
    }
}

@media only screen and (max-width: 600px){
    .modal_proyecto{
        width: auto !important;
    }
}

