.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 0.25rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid transparent;
  background: inherit;
  background-color: black;
  color: #ebecec !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: 1px solid transparent;
  background: inherit;
  background-color: black;
  color: #ebecec !important;
}
.inhabilitado {
  position: relative;
}
.inhabilitado::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}

.et_no_link {
  text-decoration: none;
  color: black;
}

.et_no_link:hover {
  text-decoration: none;
  color: black;
}

.btn_votar2 {
  display: flex;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  margin: 0 2%;
  transition: 0.5s;
}

.btn_votar {
  display: flex;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  margin: 0 2%;
  transition: 0.5s;
}

.btn_votar:hover{
    transform: scale(1.1);
}

.green_vot {
  background-color: #00c853;
}

.red_vot {
  background-color: #dc2229;
}

.grey_vot{
    background-color: #a9a9a9;
}

.contenido_bts {
  display: flex;
  justify-content: center;
  align-items: center;
}
