.enc_btnNuevoCliente{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 200px;

}
.enc_btnNuevoCliente:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;

}

.enc_btnAgregarNuevoCliente{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 200px;

}
.enc_btnAgregarNuevoCliente:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}
.btn_nuevo_cliente {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.enc_btnAgregarNuevoUsuario{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 200px;

}
.enc_btnAgregarNuevoUsuario:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}

.enc_btnAgregarNuevoUsuario_edit{
    border: 1px solid #000;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;
    width: 200px;

}
.enc_btnAgregarNuevoUsuario_edit:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}

.enc_btnCancelar{
    border: 1px solid #A9A9A9;
    padding: 0px 20px;
    height: 37px;
    display: flex;
    font-family: arial;
    background-color: #A9A9A9;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    justify-content: center;
    align-items: center;

}

.enc_btnCancelar:hover{
    background-color:transparent;
    color: #000;
    cursor: pointer;
}
.ec_acciones_usuarios{
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}
.ec_btnacciones{
    margin-right: 3%;
}
#respuesta_agregar_usuario{
    font-family: label;
    color: red;
    font-weight: bolder;
}
#respuesta_editar_cliente{
    font-family: label;
    color: red;
    font-weight: bolder;
}

@media only screen and (max-width: 400px) {
  .toggle.btn {
    left: 25px;
  }
}

